git
    init
        [repository_name]
    clone
        [url]
    add
        [file]
        --all
    commit
        -m
            "[commit_message]"
        -a
            "[commit_message]"
    diff
        -staged
        [first_branch]
            [second_branch]
    reset
        [file]
        [commit]
        --hard
            [commit]
    status
    rm
        [file]
        -r
    log
        --follow
            [file]
    show
        [commit]
    branch
        -d
            [branch_name]
        [branch_name]
    checkout
        -b
        [branch_name]
    merge
        [branch_name]
    remote
        add
            [repo_name]
                [remote_server_link]
    push
        -u
            [repo_name]
                [branch]
        [repo_name]
            [branch]
    pull
        [repo_name]
    stash
        save
        pop
        list
        drop